<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %> || Vanessa Demel</title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= partial "partials/header" %>
    <div class="main">
      <%= partial "partials/navbar" %>
      <div class="content">
        <div class="heading">
          <h1><%= current_page.data.title %></h1>
        </div>
        <%= yield %>
      </div>
    </div>
    <%= partial "partials/footer" %>
  </body>
</html>
