<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="fav.ico" rel="shortcut icon" type="image/x-icon">
    <title><%= current_page.data.title %> || Vanessa Demel</title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "../js/jquery-3.2.1.min" %>
    <%= javascript_include_tag "../js/jqueryTranslator.min" %>
    <%= javascript_include_tag "../js/site" %>
  </head>
  <body>
    <%= partial "partials/header" %>
    <div class="main">
      <%= partial "partials/navbar" %>
      <div class="content">
        <div class="heading">
          <h1><%= current_page.data.title %></h1>
        </div>
        <%= yield %>
      </div>
    </div>
    <%= partial "partials/footer" %>
  </body>
</html>
