<nav class="navbar">

<label for="show-menu" class="show-menu">Menu</label>
<input type="checkbox" id="show-menu" role="button">
    <ul id="menu">
        <li><%= link_to 'Home', '../index.html' %></li>
        <li><%= link_to 'About', '../templates/about.html' %></li>
        <!--li><%= link_to 'Skills', '../templates/skills.html' %></li-->
        <li> <%= link_to 'CV', '../templates/cv.html' %></li>
        <li><%= link_to 'Random', '../templates/random.html' %></li>
        <li><%= link_to 'Iceland Blog', '../templates/iceland.html' %></li>
    </ul>

</nav>