<nav class="navbar">
	
<div class="navbar__mobile">
    <div class="burger">
        Menu
    </div>
</div>
<div class="navbar__desktop">
    <%= link_to 'Home', '../index.html' %>
    <%= link_to 'About', '../templates/about.html' %>
    <%= link_to 'Skills', '../templates/skills.html' %>
    <%= link_to 'CV', '../templates/cv.html' %>
    <%= link_to 'Random', '../templates/random.html' %>
    <%= link_to 'Iceland Blog', '../templates/iceland.html' %>
</div>



</nav>